<h2>Your latest runs...</h2>


<blockquote>
    You may find that these are not up to date...we're waiting on the strava rate limit.
</blockquote>

<div>
    <a href="/strava/athlete/best" class="waves-effect waves-light strava-orange btn">Show me my best run</a>
</div>

<table class="responsive-table highlight">
    <thead>
    <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Kudos</th>
        <th>Achievement</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {{#each activities}}
        <tr>
            <td>{{name}}</td>
            <td>{{format_distance distance}}</td>
            <td>{{kudos_count}}</td>
            <td>{{achievement_count}}</td>
            <td>{{comment_count}}</td>
            <td>{{{format_date start_date}}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
