
<h1 class="center-align">what is your best run?</h1>

<div class="row">
    <!-- most by kudos -->
    <div class="col s12 m12">
        <div class="card blue-grey darken-1 z-depth-3">
            <a href="https://strava.com/activities/{{kudos.id}}" target="_blank">

                <div class="card-content white-text hoverable">
                    <div class="valign-wrapper">
                        <h3 style="margin: 0;">kudos</h3>
                    </div>
                    <div class="valign-wrapper">
                        <div class="kudos-thumb" style="margin-right: 10px;">kudos</div>
                        {{kudos.name}} -- ({{kudos.kudos_count}})
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <!-- most by cups -->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1 z-depth-3">
            <a href="https://strava.com/activities/{{cups.id}}" target="_blank">
                <div class="card-content white-text hoverable">
                    <div class="valign-wrapper">
                        <h3 style="margin: 0;">cups</h3>
                    </div>
                    <div class="valign-wrapper">
                        <div class="cups-icon" style="margin-right: 10px;">cups</div>
                        <!-- most by kudos -->
                        {{cups.name}} -- ({{cups.achievement_count}})

                    </div>

                </div>
            </a>
        </div>
    </div>
    <!-- most by cups -->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1 z-depth-3">
            <a href="https://strava.com/activities/{{comments.id}}" target="_blank">
                <div class="card-content white-text hoverable">
                    <div class="valign-wrapper">
                        <h3 style="margin: 0;">comments</h3>
                    </div>
                    <div class="valign-wrapper">
                        <div class="comment-icon" style="margin-right: 10px;">cups</div>
                        <!-- most by kudos -->
                        {{comments.name}} -- ({{comments.comment_count}})
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">

    <!-- most by others -->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1 z-depth-3">
            <a href="https://strava.com/activities/{{others.id}}" target="_blank">
                <div class="card-content white-text hoverable">
                    <div class="valign-wrapper">
                        <h3 style="margin: 0;">race</h3>
                    </div>
                    <div class="valign-wrapper">
                        <div class="group-icon" style="margin-right: 10px;">cups</div>
                        <!-- most by kudos -->
                        {{others.name}} -- ({{others.athlete_count}})

                    </div>

                </div>
            </a>
        </div>
    </div>

    <!-- fastest -->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1 z-depth-3">
            <a href="https://strava.com/activities/{{speed.id}}" target="_blank">
                <div class="card-content white-text hoverable">
                    <div class="valign-wrapper">
                        <h3 style="margin: 0;">speed</h3>
                    </div>
                    <div class="valign-wrapper">
                        <div class="run-icon" style="margin-right: 10px;">cups</div>

                        <!-- most by kudos -->
                        {{speed.name}} -- ({{speed.average_speed}}m/s)

                    </div>

                </div>
            </a>
        </div>
    </div>
</div>